<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - StudyTrackr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="card">
        <h1>About StudyTrackr</h1>
        <p> StudyTrackr is your personal JEE prep assistant.
            Whether you're burning the midnight oil 🌙 or pretending to study while watching memes,
            this app helps you track your progress, stay focused, and flex your study stats like a true topper. 😤📚
        </p>
        <p>
            Made with ❤️ by a dreamer who believes in code, chai, and cracking JEE.
        </p>
        <a href="/">Home</a>
        <a href="/subjects">Subjects</a>
        <a href="/track">Track Study Hours</a>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>